<ion-header>
  <ion-toolbar>
    <ion-title>{{ cocktail?.strDrink }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="cocktail">
    <img [src]="cocktail?.strDrinkThumb" [alt]="cocktail?.strDrink"/>

    <ion-card-header>
      <ion-card-title>{{ cocktail?.strDrink }}</ion-card-title>
      <ion-card-subtitle>
        <ion-chip>
          <ion-icon name="wine-outline"></ion-icon>
          <ion-label>{{ cocktail?.strGlass }}</ion-label>
        </ion-chip>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Ingredients</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let ingredient of ingredients">
          <ion-icon name="leaf-outline" slot="start"></ion-icon>
          <ion-label>{{ ingredient }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-text>
        <h2>Instructions</h2>
        <p>{{ cocktail?.strInstructions }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
